*, *:before, *:after {
    box-sizing: border-box;
}

html {
	font-size: 100%;
	overflow-y: auto;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

a {	padding: $base-padding round($base-padding/2); }

.hidden { display: none; }
.vh {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

img {
	// border-width: 0;
	-ms-interpolation-mode: bicubic;
	height:auto;
	max-width: 100%;
}

::-moz-selection {
	background: $color-primary;
	color: $color-light;
	text-shadow: none;
}
::selection {
	background: $color-primary;
	color: $color-light;
	text-shadow: none;
}

// Abstände zurücksetzen
h1 { margin-top: 0; }
