//------------------------
//------- Defaults -------
//------------------------

	//------- Fonts -------

		// Webfont-Integration
		@import url(__Input Google-Font__);

		//Font defaults
		$font-family-base: sans-serif;
		$font-family-decorative: cursive;
		$font-size-base: 14px;
		$font-line-height-base: 1.4em;

			// font-style, font-variant, font-weight, font-size/line-height, font-family
			$font-base: normal normal normal $font-size-base/$font-line-height-base $font-family-base;
			$font-decorative: normal normal normal $font-size-base/$font-line-height-base $font-family-decorative;

			// other Font-Sizes
			$footer-font-size: 12px;

	//------- Colors -------
		// Colors
		$body-bg: #fff;
		$body-color: #666;
		$color-light: $body-bg;
		$color-dark: $body-color;
		$color-primary: #d00;
		$color-secondayry: #d00;

			// Links
			$base-link-color: $color-dark;
			$base-link-color-active: $color-primary;

			// Borders
			$base-border-color: #ddd;
			$base-border: 1px solid $base-border-color;

			// Overlays
			$overlay-bg: #fff;

			// Shadows
			$base-box-shadow-color: rgba(0,0,0,.2);
			$base-box-shadow-offset: 2px;
			$base-box-shadow-blur: 8px;
			$base-box-shadow: 0 $base-box-shadow-offset $base-box-shadow-blur $base-box-shadow-color;

	//------- Measurements -------
		// Margins, Paddings
		$base-padding: 6px;
		$base-gutter: $base-padding*2;
		$icon-gutter: $base-padding;

		// Radius
		$base-radius: 2px;

//------- /defaults -------

//------------------------
//------- Page-Setup -----
//------------------------
	// Navigation
	$nav-main-width: 20%;

	// Content
	$content-main-width: 100% - $nav-main-width;
	$content-height-max: 600px;
	$content-width-max: 960px;
	
//------- /Page-Setup
