ErrorDocument 403 __PROTOCOL_DOMAIN_TLD__
ErrorDocument 404 __PROTOCOL_DOMAIN_TLD__
ErrorDocument 405 __PROTOCOL_DOMAIN_TLD__
ErrorDocument 500 __PROTOCOL_DOMAIN_TLD__

# BEGIN URL
Options +FollowSymlinks
RewriteEngine on
RewriteCond %{HTTP_HOST} !^__DOMAIN__\.__TLD__$ [NC]
RewriteRule ^(.*)$ __PROTOCOL_DOMAIN_TLD__/$1 [R=301,L]

Redirect 301 __SOURCE-FILE__ __PROTOCOL_DOMAIN_TLD__/__TARGET-FILE__

#END URL

<IfModule mod_rewrite.c>
	<IfModule mod_expires.c>
	    ExpiresActive On
	    ExpiresByType text/css A31536000
	    ExpiresByType text/x-component A31536000
	    ExpiresByType application/x-javascript A31536000
	    ExpiresByType application/javascript A31536000
	    ExpiresByType text/javascript A31536000
	    ExpiresByType text/x-js A31536000
	    ExpiresByType text/html A3600
	    ExpiresByType text/richtext A3600
	    ExpiresByType image/svg+xml A3600
	    ExpiresByType text/plain A3600
	    ExpiresByType text/xsd A3600
	    ExpiresByType text/xsl A3600
	    ExpiresByType text/xml A3600
	    ExpiresByType video/asf A31536000
	    ExpiresByType video/avi A31536000
	    ExpiresByType image/bmp A31536000
	    ExpiresByType application/java A31536000
	    ExpiresByType video/divx A31536000
	    ExpiresByType application/msword A31536000
	    ExpiresByType application/vnd.ms-fontobject A31536000
	    ExpiresByType application/x-msdownload A31536000
	    ExpiresByType image/gif A31536000
	    ExpiresByType application/x-gzip A31536000
	    ExpiresByType image/x-icon A31536000
	    ExpiresByType image/jpeg A31536000
	    ExpiresByType application/json A31536000
	    ExpiresByType application/vnd.ms-access A31536000
	    ExpiresByType audio/midi A31536000
	    ExpiresByType video/quicktime A31536000
	    ExpiresByType audio/mpeg A31536000
	    ExpiresByType video/mp4 A31536000
	    ExpiresByType video/mpeg A31536000
	    ExpiresByType application/vnd.ms-project A31536000
	    ExpiresByType application/x-font-otf A31536000
	    ExpiresByType application/vnd.ms-opentype A31536000
	    ExpiresByType application/vnd.oasis.opendocument.database A31536000
	    ExpiresByType application/vnd.oasis.opendocument.chart A31536000
	    ExpiresByType application/vnd.oasis.opendocument.formula A31536000
	    ExpiresByType application/vnd.oasis.opendocument.graphics A31536000
	    ExpiresByType application/vnd.oasis.opendocument.presentation A31536000
	    ExpiresByType application/vnd.oasis.opendocument.spreadsheet A31536000
	    ExpiresByType application/vnd.oasis.opendocument.text A31536000
	    ExpiresByType audio/ogg A31536000
	    ExpiresByType application/pdf A31536000
	    ExpiresByType image/png A31536000
	    ExpiresByType application/vnd.ms-powerpoint A31536000
	    ExpiresByType audio/x-realaudio A31536000
	    ExpiresByType image/svg+xml A31536000
	    ExpiresByType application/x-shockwave-flash A31536000
	    ExpiresByType application/x-tar A31536000
	    ExpiresByType image/tiff A31536000
	    ExpiresByType application/x-font-ttf A31536000
	    ExpiresByType application/vnd.ms-opentype A31536000
	    ExpiresByType audio/wav A31536000
	    ExpiresByType audio/wma A31536000
	    ExpiresByType application/vnd.ms-write A31536000
	    ExpiresByType application/font-woff A31536000
	    ExpiresByType application/vnd.ms-excel A31536000
	    ExpiresByType application/zip A31536000
	</IfModule>
	<IfModule mod_deflate.c>
	    <IfModule mod_headers.c>
	        Header append Vary User-Agent env=!dont-vary
	    </IfModule>
	    <IfModule mod_filter.c>
	        AddOutputFilterByType DEFLATE text/css text/x-component application/x-javascript application/javascript text/javascript text/x-js text/html text/richtext image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon application/json
	    <IfModule mod_mime.c>
	        # DEFLATE by extension
	        AddOutputFilter DEFLATE js css htm html xml
	    </IfModule>
	    </IfModule>
	</IfModule>
	<FilesMatch "\.(css|htc|less|js|js2|js3|js4|CSS|HTC|LESS|JS|JS2|JS3|JS4)$">
	    FileETag MTime Size
	    <IfModule mod_headers.c>
	         Header unset Set-Cookie
	    </IfModule>
	</FilesMatch>
	<FilesMatch "\.(html|htm|rtf|rtx|svg|svgz|txt|xsd|xsl|xml|HTML|HTM|RTF|RTX|SVG|SVGZ|TXT|XSD|XSL|XML)$">
	    FileETag MTime Size
	</FilesMatch>
	<FilesMatch "\.(asf|asx|wax|wmv|wmx|avi|bmp|class|divx|doc|docx|eot|exe|gif|gz|gzip|ico|jpg|jpeg|jpe|json|mdb|mid|midi|mov|qt|mp3|m4a|mp4|m4v|mpeg|mpg|mpe|mpp|otf|odb|odc|odf|odg|odp|ods|odt|ogg|pdf|png|pot|pps|ppt|pptx|ra|ram|svg|svgz|swf|tar|tif|tiff|ttf|ttc|wav|wma|wri|woff|xla|xls|xlsx|xlt|xlw|zip|ASF|ASX|WAX|WMV|WMX|AVI|BMP|CLASS|DIVX|DOC|DOCX|EOT|EXE|GIF|GZ|GZIP|ICO|JPG|JPEG|JPE|JSON|MDB|MID|MIDI|MOV|QT|MP3|M4A|MP4|M4V|MPEG|MPG|MPE|MPP|OTF|ODB|ODC|ODF|ODG|ODP|ODS|ODT|OGG|PDF|PNG|POT|PPS|PPT|PPTX|RA|RAM|SVG|SVGZ|SWF|TAR|TIF|TIFF|TTF|TTC|WAV|WMA|WRI|WOFF|XLA|XLS|XLSX|XLT|XLW|ZIP)$">
	    FileETag MTime Size
	    <IfModule mod_headers.c>
	         Header unset Set-Cookie
	    </IfModule>
	</FilesMatch>
</IfModule>
